.info{
   
    background-color:#283747;
    border-radius: 2em;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 1em;
    padding: 2em;
    width: 50em;
    height: 80em;
    font-family: 'Courier New', Courier, monospace;

}
.imagenJuego{
    position: relative;
     width: 25em;
    height: 20em;
    border-radius: 20px;

  
} 
.princi{
    background-color: #212F3D;
}
.btnHome{
    background-color: rgba(100, 165, 240, 0.7);
    border-color: rgba(100, 165, 240, 0.7);
    font-size: 1.5rem;
    border-radius: 4rem ;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 0.7rem;
    cursor: pointer;
}
.btnHome:hover{
    box-shadow: 0 12px 16px black;
    cursor: pointer;
}

.nomPeli{
    font-size: 180%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: solid;
    border-color: aqua;
}
