.liNumber {
    display: inline-block;
    margin: 0.3em;
    text-decoration: none;
}
.paginado {
    padding: 0.5em;
    background-color: #263238;
    color: #fff;
    border-radius: 2em;
}

.ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}