.navbar{
    padding: 1em;
    background-color: #566573 ;
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}
.boton{
  
    background-color: rgba(100, 165, 240, 0.7);
    border-color: rgba(100, 165, 240, 0.7);
    font-size: 1.2rem;
    border-radius: 4rem ;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 0.7rem;
}

.boton:hover{
    box-shadow: 0 12px 16px black;
}
 

.boton, .inputBuscar{
    align-items: center;
}
.inputBuscar{
    border-radius: 1.5rem;
    font-size: 1.2rem;
}
